@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

.preview-image {
  width: 100%;
  height: relative;
}

.book-result {
  &:hover {
    background:#ccc;
  }
}
#bookshelf {
  .bookshelf-item {
    display:inline-block;
    width:12em;
    margin-right:1em;

    .bookshelf-image {
      width: 100%;
      height: auto;
      position: relative;
      top: 0;
      left: 0;
    }
  }
  text-align:left;
}
